.table-blue {
    border: solid 1px;
    border-collapse: collapse; /* セルの線を重ねる */
}

.table-blue th,td {
    border: solid 1px black;
}

.table-blue thead {
    background-color: lightsteelblue;
    color: white;
}