{% load static %}
<html>
    <head>
        <link href="static\css\table.css" rel="stylesheet">
        <link href="static\css\left-sideber.css" rel="stylesheet">
        <link href="static\css\thumbnail.css" rel="stylesheet">
        <link href="static\css\body.css" rel="stylesheet">
        <link href="static\css\home.css" rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="article">
            <div class="side">
                <nav>
                    <li><a href="{% url 'index' %}">ホーム</a></li>
                    <li><a>探索</a></li>
                    <li><a>ショート</a></li>
                    <li><a>登録チャンネル</a></li>
                    <li><a>ライブラリ</a></li>
                    <li><a>履歴</a></li>
                    <li><a>自分の動画</a></li>
                    <li><a>後で見る</a></li>
                    <li><a>高く評価した動画</a></li>
                    <li><a>探索</a></li>
                    <li><a>登録チャンネル</a></li>
                    <li><a>YOUTUBE の他のサービス</a></li>
                </nav>
            </div>
            <div class="content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>